<ngb-carousel >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>We have variety of food</h3>
        <p>Come visit us! From 7 am to 10 pm. We are ready to serve you</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>We have variety of food</h3>
        <p>Come visit us! From 7 am to 10 pm. We are ready to serve you</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>We have variety of food</h3>
        <p>Come visit us! From 7 am to 10 pm. We are ready to serve you</p>
      </div>
    </ng-template>
  </ngb-carousel>

  <app-cards></app-cards>

  